:root{ 
    --bg: white; 
    --card: white; 
    --text: black; 
    --nav: white;
    --hover: #d1d1d1;
}

html,body{
    height:100%;
    margin:0;
    font-family: sans-serif;
    background:var(--bg);
    color:var(--text);
}

.night-lightmode{
    position: absolute;
    background: var(--card);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    text-align: right;
    visibility: hidden;
}

.nav{
    margin: 0 auto;
    padding: 1rem 3rem;
    max-width: 90vw;
    background:var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo{
    height: 3rem;
    width: auto;
    vertical-align: middle;
}

.nav-buttons {
    display: flex;
    text-align: right;
    visibility:visible;
}

#navbutton{
    margin-right: 1rem;
    color:inherit;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border: #ffffff00 2px solid;
    color: var(--text);
    font: bold 1rem sans-serif;
}

#navbutton:hover {
    content: "";
    text-decoration: underline;
    border-radius: 5px;
    background-color: var(--hover);
    transition: background-color 0.5s ease;
}

#navbutton:not(:hover) {
    content: "";
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--nav);
    transition: background-color 0.5s ease;
}

.tabselected{
    color: rgb(45, 178, 19);
}

.calltoaction{
    border-radius: 5px;
    background-color: var(--card);
    filter: brightness(0.90);
    transition: filter 0.2s ease, background-color 0.2s ease;
}

.calltoaction:hover{
    filter: brightness(0.88);
}

.order-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.order{
    font-size: 18px;
    color: var(--text);
    text-decoration: none;
    margin-top: 40px;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    background:var(--card);
    position: absolute;
    overflow: hidden;
    z-index: 1;
    transition: font-size 0.25s ease;
    font: bold 1.1rem sans-serif;
}

.order::after {
    content: "";
    position: absolute;
    left: -130%;
    bottom: 0;
    width: 40%;
    height: 100%;
    transform: skew(-45deg);
    background: linear-gradient(
        145deg,
        transparent,
        rgba(219, 204, 204, 0.24),
        transparent
    );
    transition: left 0.75s ease;
    
}

.order:hover::after {
    left: 130%;
}

.order:hover{
    font-size: 20px;
}

#navi{
    margin-right: 4px;
}

#orderi{
    margin-left: 4px;
}

.contentbar{
    display: none;
    visibility:hidden;
}

@media only screen and (max-width: 700px) {
    .nav-buttons {
        display: none;
        visibility:hidden;
    }
    .contentbar {
        display: block;
        visibility:visible;
    }
}

/* @media (max-width: 900px) {
  .nav {flex-wrap: wrap; justify-content: center;}
  .night-lightmode {top: 1rem; right: 1rem;}
  .carousel__slide {width: 90vw; max-width: 280px;}
  .order {font-size: 1rem; padding: 0.8rem 1.5rem;}
  .nav-buttons a {margin-right: .5rem; padding:.6rem .8rem;}
} */


.bgcolor {
    background-color: chartreuse;
    height: 20rem;
    width: auto;
    margin: 0rem 0rem;
    background-image: linear-gradient(to bottom, rgba(0,200,78,100), rgba(0,163,0,100));
    align-items: center;

    display: flex;
    justify-content: center;
    grid-template-columns: auto;
}

.mbgcolor {
    background-color: chartreuse;
    font-size: clamp(20px, 2vw, 30px);
    height: 6rem;
    width: auto;
    margin: 0rem 0rem;
    background-image: linear-gradient(to bottom, rgba(0,200,78,100), rgba(0,163,0,100));
    align-items: center;
    display: flex;
    justify-content: center;
    grid-template-columns: auto;
    color: #ffffff;
}

.welcome{
    font-size: clamp(16px, 2vw, 20px);
    text-align: center;
    max-width: 51vw;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: -2rem;
    flex-direction: column;
}

.carousel {
    margin: 2rem auto;
    height: 6rem;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    padding: 10px;
    grid-template-columns: auto;
    overflow-x: hidden;
}

.carousel__track {
    display: flex;
}

.carousel__slide {
    width: 400px;
    height: auto;
    flex-shrink: 0;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 90vw;
}

.intro h3{
    margin-top: 4rem;
    margin-bottom: 0rem;
    color: #000000;
    font-size: x-large;
}

.intro h5{
    margin-top: 0.5rem;
    color: #4d4d4d;
    font-size: small;

}

main{
    background:var(--card);
    padding:1.25rem;
    border-radius:8px;
    box-shadow:0 1px 6px rgba(0, 0, 0, 0.288);

    border: 2px solid #000; /*temp*/
}

header{
    text-align: top;

    border: 2px solid #000; /*temp*/
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
    max-width: 100%;
}

.categorylist{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
    max-width: 100%;
}

.categorylist.move{
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.6s ease;
    margin: 2rem 15px;
}

.categorylist ~ .products .productcards {
    display: flex;
    opacity: 0;
    transform: translateY(4rem);
    transition: transform 0.8s ease, opacity 1s ease;
    pointer-events: none;
}

.categorylist.move ~ .products .productcards {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.categorycard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    height: 10rem;
    width: 15rem;
    background-color: rgb(146, 146, 146);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10), 0 1.5px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.categorycard.move{
    height: 7rem;
    min-width: 9rem;
    max-width: 9rem;
    transition: all 0.6s ease;
    .categoryname{
        font: bold 0.8rem sans-serif; 
        transition: all 0.6s ease;
    }
}

.categoryname{
    color: var(--text);
    background-color: rgb(202, 201, 201);
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 1.1rem sans-serif;
}

@media (max-width: 760px) {
    .products{
        flex-direction: column;
        align-items: center;
    }

    .productcard{
        width: 90vw;
        max-width: 20rem;
        margin: 0.5rem 0;
    }
}

.productcards{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    height: 22rem;
    width: 15rem;
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10), 0 1.5px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
}

.productcards img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.productdetails{
    color: var(--text);
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 0 12rem;
    overflow: hidden;
    font: bold 14px sans-serif;

}

.productnameprice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem;
}

#details {
    padding: 0rem 1rem;
    margin: 0.15rem 0;
    display: flex;
}

.productname{
    max-width: 70%;
}

.productprice{
    font-size: 1.1rem;
    color: rgb(45, 178, 19);
}

/* .producttags{
    border-radius: 15px;
    background-color: rgb(45, 178, 19);
}   do this when you seperate all the tags from each other*/

/* .producttags:hover{
    .producttagsdesc{
        display: visible;
    }
    
} planned to make a box(with description) that pops up when hovering on certain tags*/

/* .buy-btn button {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000000;
    background: #000000;
    width: 100%;
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
        0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
} */


.buy-btn button {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000000;
    background: #000000;
    width: 90%;   /*for when the button is in the card and not sliding down*/
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
        0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.buy-btn{
    /* transform: translateY(0); */
    /* transition: transform 0.3s ease; */
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.productcards:hover .buy-btn {
    /* transform: translateY(6rem); */
    pointer-events: auto;
}


.form-center{
    justify-content: center; 
    align-items: center; 
    display: flex; 
    height: 80vh; 
    flex-direction: column;
}

.form-page {
    max-width: clamp(20rem, 40vw, 40vw);
    align-items: center;
    height: 29rem;
}

.signinup{
    align-items: center;
    display: flex;
    text-align: right;
    border-bottom: 4px solid #36bd18;
    max-width: clamp(20rem, 40vw, 40vw);
    margin: 2rem auto;
    justify-content: space-evenly;
    
}

.signup, .signin{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font: bold 16px sans-serif;
    color: #000;
    transform: translateY(0px);
    transition: transform 0.2s ease;
}

.signup:hover, .signin:hover{
    transform: translateY(-4px);
    transition: transform 0.2s ease;
}

.signup.active, .signin.active {
    background-color: #36bd18;
    color: #ffffff;
    transform: translateY(0px);
    transition: transform 0s;
}

.form-control{
    font: lighter 16px sans-serif;
    padding: 12px 0 12px 20px;
    width: clamp(200px, 20vw ,25vw);
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    margin: 0 15px 20px 15px;
}

.form-control:focus {
    border-color: #36bd18;
    box-shadow: 0 0 6px 2px #36bd186e;
}

.forgot-password a, .forgot-password{
    text-align: right;
    text-decoration: none;
    color: #36bd18;
    font: bold 14px sans-serif;
}

.btn-primary{
    width: 100%;
    background: #36bd18;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10), 0 1.5px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(0);
    transition: all 0.2s ease;

}
.btn-primary:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.247), 0 2px 6px rgba(0, 0, 0, 0.066);
    transform: translateY(-0.2rem);
    transition: all 0.2s ease;
}

.form-container {
    display: none;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-container.active {
    display: flex;
    animation: fadeIn 0.6s ease;
}

/* details {
    display: flex;
    align-items: center;
    justify-content: center;
} */                           /* not showing */
