<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav class = "nav">
        <img class="logo" src="Logos/white w logo.png" alt="wowfoods-logo" href="#">
        <div class="contentbar">
            <i class="ri-menu-fill"></i>
        </div>
        <div class="nav-buttons">
            <a href="{{ url_for('home_page') }}" id="button" class="Home">Home</a>
            <a href="{{ url_for('menu_page') }}" id="button" class="Menu">Menu</a>
            <a href="{{ url_for('signin_page') }}" id="button" class="Signin"><i class="ri-user-line"></i>Sign in</a>
            <a href="{{ url_for('cart_page') }}" id="button" class="Cart"><i class="ri-shopping-cart-2-line"></i>Cart</a>
        </div>
    </nav>
</body>
</html>
