<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Wow Foods</title>
</head>
    <body>
        <div class="night-lightmode" onclick="darklightmode()"><i class="ri-moon-fill"></i></div>
        <nav class = "nav">
            <img id="logo" src="/logos/white w logo.png" alt="wowfoods-logo" href="#">
            <div class="contentbar">
                <i class="ri-menu-fill"></i>
            </div>
            <div class="nav-buttons">
                <a href="{{ url_for('home_page') }}" id="navbutton" class="home">Home</a>
                <a href="{{ url_for('menu_page') }}" id="navbutton" class="menu">Menu</a>
                <a href="{{ url_for('signin_page') }}" id="navbutton" class="signin"><i class="ri-user-line" id="navi"></i>Sign in</a>
                <a href="{{ url_for('cart_page') }}" id="navbutton" class="cart"><i class="ri-shopping-cart-2-line" id="navi"></i>Cart</a>
            </div>
        </nav>
        <div class="main">
            <div class="bgcolor">
                <div class="welcome">
                    <h4>
                        Yummy Food but is it ....
                    </h4>
                    <h1>
                        GOOD?
                    </h1>
                    <h4>
                        We got everything you need here with the best deals, so what are you waiting for?
                    </h4>
                    <div class="order-btn">
                        <a class="order" href='{{ url_for("menu_page") }}'>
                            Order Now <i class="ri-arrow-right-line" id="orderi"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container"> 
                <div class="imagescroll">
                    <img src="/images/food.jpg" alt="img">
                    <img src="/images/food.jpg" alt="img">
                    <img src="/images/food.jpg" alt="img">
                    <img src="/images/food.jpg" alt="img">
                    <img src="/images/food.jpg" alt="img">
                    
                </div>
            </div>
        </div>

        <script src="/static/SQL.js"></script>
    </body>
</html>
